.wrapper {
  width: 80px;
  border-radius: 7px;
  background: #0b85ff;
  padding: 5px;
  transition: height 0.2s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  position: relative;
}
input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
